<!-- app/views/recommendations/index.html.erb -->
<% content_for(:title, t('.title')) %>
<div class="recommendation-container">
  <div class="recommendation-wrapper">
    <h1 class="text-center">おすすめ一覧</h1>
    <div class="mt-5">
      <h2 class="text-center">おすすめの施設</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <% if @recommended_facilities.present? %>
              <%= render @recommended_facilities %>
            <% else %>
              <p class="text-center"><%= t('.no_result') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h2 class="text-center">おすすめのイベント</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <% if @recommended_events.present? %>
              <%= render @recommended_events %>
            <% else %>
              <p class="text-center"><%= t('.no_result') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
