<div>
  <ul>
    <li>
      <%= link_to '問い合わせ','https://docs.google.com/forms/d/e/1FAIpQLSeMWLzuaz2_GmcI_bxL3rbYwFuRaLuLA1M-fI-TImID8-RQOw/viewform?embedded=true' %>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMWLzuaz2_GmcI_bxL3rbYwFuRaLuLA1M-fI-TImID8-RQOw/viewform?embedded=true" width="640" height="1266" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </li>
    <li>
      <%= link_to '利用規約','#' %>
    </li>
    <li>
      <%= link_to 'プライバシーポリシー','#' %>
    </li>
  </ul>
</div>