<div class="footer">
  <ul class="d-flex justify-content-around z-1">
    <li>
      <%= link_to '問い合わせ','https://docs.google.com/forms/d/e/1FAIpQLSeMWLzuaz2_GmcI_bxL3rbYwFuRaLuLA1M-fI-TImID8-RQOw/viewform?embedded=true', class:'nav-link active' %>
    </li>
    <li>
      <%= link_to '利用規約','static_pages/terms_of_user', class:'nav-link active' %>
    </li>
    <li>
      <%= link_to 'プライバシーポリシー','static_pages/privacy_policy', class:'nav-link active' %>
    </li>
  </ul>
</div>