<% content_for(:title, t('.title')) %>
<div class="events-container ps-3 pe-3">
  <div class="events-main">
    <%= render 'shared/search_form', q: @q, url: events_path %>
    <div class="event-article-wrapper">
      <div class="event-article-title">
        <h5 class="event-article-title-text">イベント情報</h5>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <% if @events.present? %>
              <%= render partial: 'event', collection: @events %>
            <% else %>
              <div class="mb-3">イベント情報がありません</div>
            <% end %>
          </div>
        </div>
      <div>
      <div data-controller="pagination">
          <nav class="pagination" data-pagination-target="pagination">
            <%= paginate @events, window: 1, data: { pagination_target: "pagination" } %>
          </div>
      </div>
    </div>
  </div>
</div>