.bookmarks-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
  padding-top: 150px;
}

.bookmarks-wrapper {
  margin: auto;
  max-width: 1200px;
  min-height: 1000px;//fotterが上に上がるのを防ぐため
}