.events-container {
  width: 100%;
  height: auto;
  padding-top: 150px;
  overflow: hidden;
  background-image: url("event.jpg");
  background-position:top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.events-main {
  max-width: 1200px;
  margin: auto;
}

.event-container {
  display: flex;
  justify-content: center;
}

.event-article-wrapper {
  z-index: 2;
  margin-top: 50px;
}

.event-article-title {
  text-align: center;
  margin: auto;
  width: 200px;
  background-color: #f8d804;
  border-radius: 10px;
  align-items: center;
}

.event-article-title-text {
  padding: 3px;
  color: #fff;
  font-weight: bold;
}



// show

.event-show-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("event.jpg");
  background-position:top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.event-show-wrapper {
  max-width: 1200px;
  margin: auto;
}

.event-show-main {
  display: flex;
  justify-content: space-around;
  align-items: center;  /* 子要素を垂直方向に中央寄せ */
  width: 100%;
}

.event-show-image-list{
  margin-top: 100px;
  padding: 0%;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.event-show-image-wrapper{
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* スライダーの横幅を超える画像が表示されないようにする */
  padding: auto;
}

.event-show-image{
  width: 100%;
  min-width: 250px;
  max-width: 350px; /* 横幅がスライダーの横幅を超えないようにする */
  max-height: 100%; /* 縦幅もスライダーの高さを超えないようにする */
  height: auto;
  border-radius: 10px;
  object-fit: contain; /* アスペクト比を保ちながら中央に配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 縦横中央に配置するためのトランスフォーム */
}

.event-show-article {
  width: 100%;
  max-width: 650px;
}

.event-table {
  table-layout: fixed;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 13px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.event-table th, .event-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.event-table th {
  width: 200px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.event-table tr:first-child th {
  border-radius: 10px 0 0 0;
}

.event-table td {
  width:100%;
  word-wrap: break-all;
  word-break: break-all;
}

.event-table tr:first-child td {
  border-radius: 0 10px 0 0;
}
.event-table tr:last-child th {
  border-radius: 0 0 0 10px;
}
.event-table tr:last-child td {
  border-radius: 0 0 10px 0;
}

.event-table tr:last-child td, .event-table tr:last-child th {
  border-bottom: none;
}

.event-link-item-list-wrapper {
  display: flex;
  justify-content: space-around;
}

.event-link-item-list{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.event-share-item-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

// _events

.event-wrapper {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* より柔らかい影 */
  border-radius: 10px;
  min-width: 300px;
  cursor: pointer;
	transition: all 0.3s ease 0s;
}

.event-wrapper:hover {
	border-bottom-color: transparent;
	transform: translateY(-0.3em);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.events-image {
  max-width: 300px;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}


@media screen and (min-width: 1001px) {
  .event-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }

  .event-show-container {
    display: flex;
    justify-content: space-around;
  }

  .event-show-article {
    padding-top: 150px;
  }

}

@media screen and (min-width: 601px) {

  .event-wrapper {
    min-width: 550px;
  }

  .event-body {
    display: flex;
    justify-content: start;
  }
}

@media screen and (max-width: 1000px) {
  .event-show-container {
    display: flex;
    flex-direction: column;
  }

  .event-show-article {
    margin-left: auto;
    margin-right: auto;
  }

  .event-show-main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .event-link-item-list-wrapper {
    flex-direction: column;
  }

  .event-link-item-list {
    text-align: center;
    flex-direction: column;
  }

  .event-share-item-list {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  // スマホサイズは対象のdivを削除してスタイル調整
  .event-sp {
    display: contents;
  }

  .event-wrapper {
    max-width: 300px;
  }
}