.facility-container {
  display: flex;
  justify-content: center;
}

//index
.facilities-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
  background-image: url("facility.jpg");
  background-position:center center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.facilities-main {
  margin: auto;
  max-width: 1200px;
  min-height: 1000px;//fotterが上に上がるのを防ぐため
}


// show
.facility-show-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("facility.jpg");
  background-position:center center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.facility-show-wrapper {
  max-width: 1200px;
  margin: auto;
}

.facility-show-image-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;  /* 子要素を垂直方向に中央寄せ */
  width: 100%;
}

.facility-show-image-list{
  margin-top: 100px;
  padding: 0%;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.facility-show-image-wrapper{
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* スライダーの横幅を超える画像が表示されないようにする */
  padding: auto;
}

.facility-show-image {
  width: 100%;
  min-width: 250px;
  max-width: 350px; /* 横幅がスライダーの横幅を超えないようにする */
  max-height: 100%; /* 縦幅もスライダーの高さを超えないようにする */
  height: auto;
  border-radius: 10px;
  object-fit: contain; /* アスペクト比を保ちながら中央に配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 縦横中央に配置するためのトランスフォーム */
}

.facility-show-article {
  width: 100%;
  max-width: 650px;
}

.table {
  table-layout: fixed;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 13px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.table th, .table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table th {
  width: 135px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.table tr:first-child th {
  border-radius: 10px 0 0 0;
}

.table td {
  width:100%;
  word-wrap: break-all;
  word-break: break-all;
}

.table tr:first-child td {
  border-radius: 0 10px 0 0;
}
.table tr:last-child th {
  border-radius: 0 0 0 10px;
}
.table tr:last-child td {
  border-radius: 0 0 10px 0;
}

.table tr:last-child td, .table tr:last-child th {
  border-bottom: none;
}

.facility-list-wrapper {
  margin-top: 30px;
}

.facility-link-item-list {
  gap: 20px;
  padding: 0;
}

.facility-share-item-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.map {
  max-width: 500px;
  margin-top: 100px;
}

.article-wrapper {
  z-index: 2;
  margin-top: 50px;
}

.article-title {
  text-align: center;
  margin: auto;
  width: 200px;
  background-color: #01c6fd;
  border-radius: 10px;
}

.article-title-text {
  padding: 3px;
  color: #fff;
  font-weight: bold;
}
//_facility
.facility-wrapper {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* より柔らかい影 */
  border-radius: 10px;
  min-width: 300px;
  cursor: pointer;
	transition: all 0.3s ease 0s;
}

.facility-wrapper:hover {
	border-bottom-color: transparent;
	transform: translateY(-0.3em);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.facilities-image {
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 1101px) {
  .facility-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin:auto;
  }

  .facility-show-article {
    padding-top: 150px;
  }

  .facility-show-image {
    max-width: 500px;
  }

  .facility-list-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .facilities-image {
    height: 300px;
  }

}

@media screen and (min-width: 601px) {
  .facility-wrapper {
    min-width: 550px;
  }

  .facility-link-item-list {
    display: flex;
    justify-content: space-around;
  }

}




@media screen and (max-width: 1100px) {
  .facility-show-article {
    margin-left: auto;
    margin-right: auto;
  }

  .facility-show-main {
    display: flex;
    flex-direction: column;
  }

  .facility-show-wrapper {
    text-align: center;
  }

  .facility-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .facility-list-wrapper {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .facility-link-item{
    margin-top: 10px;
}

  .map {
    margin-left: auto;
    margin-right: auto;
  }


  .facilities-image {
    max-width: 350px;
    height: 200px;
  }

}

@media screen and (max-width: 600px) {

  .facility-wrapper {
    max-width: 300px;
  }

  .facilities-image {
    height: 150px;
  }

}