.facility_container {
  display: flex;
  justify-content: center;
}

.facility_wrapper {
  border-radius: 10px;
  border-style: solid;
  max-width: 550px;
  align-items: center;
}

.table {
  table-layout: fixed;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table th, .table td {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.table th {
  width: 200px;
  text-align: center;
}
.table tr:first-child th {
  border-radius: 10px 0 0 0;
}
.table tr:first-child td {
  border-radius: 0 10px 0 0;
}
.table tr:last-child th {
  border-radius: 0 0 0 10px;
}
.table tr:last-child td {
  border-radius: 0 0 10px 0;
}
