.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
}

.sub-title {
  display: flex;
  margin-left: 3px;
}

.sub-title-up {
  line-height: 2.5em;
  margin-left: 3px;
}

.sub-title-down {
  margin-left: 3px;
  line-height: 3em;
}

// .btn-wrapper {
// }