.header {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px #ccc solid;
  background-color: #fff;
}

.logo-wrapper {
  display: flex;
}


.title-logo {
  height: 50px;
}

.header-layout{
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
}

.sub-title {
  display: flex;
  margin-left: 3px;
}

.sub-title-up {
  line-height: 2.5em;
  margin-left: 3px;
}

.sub-title-down {
  margin-left: 3px;
  line-height: 3em;
}

@media screen and (min-width: 1150px) { /* pc用スタイル */
  // .navbar {
  //   display: none;
  // }
  //   max-width: 500px;
  // .btn-wrapper{
  // }
  .title-logo {
    max-width: 300px;
  }
  
  .logo{
    display: flex;
  }


  .pc-none {
    display: none;
  }

}

@media screen and (max-width: 1149px) { /* sp用スタイル */
  .title-logo {
    max-width: 200px;
    height: 50px;
  }

  .btn-wrapper {
    display: none;
  }

  .custom-navbar {
    background-color: white; /* 背景を白に */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: gray !important; /* 文字をグレーに */
  }

  .custom-offcanvas {
    background-color: white; /* Offcanvasの背景を白に */
  }

  .custom-offcanvas .offcanvas-title,
  .custom-offcanvas .nav-link,
  .custom-offcanvas .dropdown-menu,
  .custom-offcanvas .dropdown-item {
    color: gray !important; /* Offcanvas内の文字をグレーに */
  }

  .custom-offcanvas .btn-close {
    color: gray !important; /* 閉じるボタンを反転して見やすくする */
  }

  .btn {
    max-width: 100px;
  }

}

@media screen and (min-width: 601px) { /* sp用スタイル */
  .logo{
    display: flex;
  }

}

@media screen and (max-width: 600px) { /* sp用スタイル */
  .btn-wrapper {
    display: none;
  }

  .custom-navbar {
    background-color: white; /* 背景を白に */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: gray !important; /* 文字をグレーに */
  }

  .custom-offcanvas {
    background-color: white; /* Offcanvasの背景を白に */
  }

  .custom-offcanvas .offcanvas-title,
  .custom-offcanvas .nav-link,
  .custom-offcanvas .dropdown-menu,
  .custom-offcanvas .dropdown-item {
    color: gray !important; /* Offcanvas内の文字をグレーに */
  }

  .custom-offcanvas .btn-close {
    color: gray !important; /* 閉じるボタンを反転して見やすくする */
  }

  h6 {
    font-size: 3vw;
  }

  .btn {
    max-width: 100px;
  }


}