.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item .page-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffdfba; /* パステルオレンジ */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.pagination .page-item.active .page-link {
  background-color: #bae1ff; /* パステルブルー */
}

.pagination .page-item:hover .page-link {
  background-color: #ffb3ba; /* パステルピンク */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .pagination {
    flex-wrap: wrap; /* 要素が画面内に収まるように折り返し */
  }

  .pagination.small-screen .page {
    display: none; /* デフォルトでページリンクを非表示 */
  }

  .pagination.small-screen .page.active, /* 現在のページ */
  .pagination.small-screen .page:nth-last-child(-n+2), /* 後ろから1ページ */
  .pagination.small-screen .page:nth-child(-n+2) { /* 前から1ページ */
    display: inline-block; /* 対象のページリンクを表示 */
  }
}
