.playground_equipments-container {
  width: 100%;
  margin: auto;
  display: inline-block;
  justify-content: space-around;

}

.playground_equipment-container{

}

.playground_equipment-wrapper {
  min-width: 300px;
  align-items: center;
  border: #777 solid;
  border-radius: 10px;
  margin: auto;
}



.playground_equipment-show-left-wrapper{
  text-align: center

}

.playground_equipment-item-list-wrapper{
  text-align: center;
}

.playground_equipment-item-list {
  border: #777 solid 3px;
  border-radius: 5px;
  padding: 10px;
}

.playground_equipment-item-wrapper {
  margin-top: 10px;
}

.playground_equipment-item{
  border-bottom: #777 solid 3px;
  height: 1.5rem;
}

.playground_equipment-show-image {
  max-width: 500px;
  height: 200px;
}

.playground_equipment-image {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.remarks{
  border: #777 solid 3px;
  border-radius: 5px;
  height: 150px;
}

@media screen and (min-width: 1001px) { /* pc用スタイル */
  .playground_equipment-show-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
  }

  .playground_equipment-wrapper {
    max-width: 800px;
  }

  .remarks{
  min-width: 300px;
  }
}

@media screen and (min-width: 601px) {
  .playground_equipment-body {
    display: flex;
    justify-content: start;
  }

  .playground_equipment-wrapper {
    max-width: 550px;
  }
}

@media screen and (max-width: 1000px) {

  .playground_equipment-show-left-wrapper{
    text-align: center;
    padding-top: 150px;
  }

  .playground_equipment-item-list {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
  }

  .playground_equipment-show-container {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  // スマホサイズは対象のdivを削除してスタイル調整
  .ms-3 {
    display: contents;
  }

  .playground_equipment-wrapper {
    max-width: 300px;
  }

}

