.playground_equipments-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
  background-image: url("playground_equipment.jpg");
  background-position:top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.playground_equipments-wrapper {
  max-width: 1200px;
  margin: auto;
  min-height: 1000px;//fotterが上に上がるのを防ぐため
}

.playground_equipment-container{

}

.playground_equipment-wrapper {
  min-width: 250px;
  align-items: center;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* より柔らかい影 */
  border-radius: 10px;
  cursor: pointer;
	transition: all 0.3s ease 0s;
}

.playground_equipment-wrapper:hover {
	border-bottom-color: transparent;
	transform: translateY(-0.3em);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.playground_equipment-show-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
  background-image: url("playground_equipment.jpg");
  background-position:top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.playground_equipment-show-wrapper {
  max-width: 1200px;
  margin: auto;
}

.playground_equipment-show-left-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center

}

.playground_equipment-show-image-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  /* 子要素を垂直方向に中央寄せ */
  width: 100%;
}

.playground_equipment-show-image-list {
  padding: 0%;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.playground_equipment-show-image-wrapper {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* スライダーの横幅を超える画像が表示されないようにする */
  padding: auto;
}

.playground_equipment-show-image{
  width: 100%;
  min-width: 250px;
  max-width: 350px; /* 横幅がスライダーの横幅を超えないようにする */
  max-height: 100%; /* 縦幅もスライダーの高さを超えないようにする */
  height: auto;
  border-radius: 10px;
  object-fit: contain; /* アスペクト比を保ちながら中央に配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 縦横中央に配置するためのトランスフォーム */
}

.playground_equipment-item-list-wrapper{
  text-align: center;
}

.playground_equipment-item-list {
  border: #ccc solid 3px;
  border-radius: 13px;
  padding: 10px;
  background-color: #fff;
}

.playground_equipment-item-wrapper {
  margin-top: 10px;
}

.playground_equipment-item{
  border-bottom: #ccc solid 3px;
  height: 1.5rem;
}

.playground_equipment-show-image {
  max-width: 500px;
  height: 200px;
}

.playground_equipment-image {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.remarks{
  border: #ccc solid 3px;
  border-radius: 5px;
  height: 150px;
}

.playground_equipment-show-link-item {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1001px) { /* pc用スタイル */
  .playground_equipment-show-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
  }

  .playground_equipment-wrapper {
    max-width: 800px;
  }

  .remarks{
  min-width: 300px;
  }

}

@media screen and (min-width: 601px) {
  .playground_equipment-body {
    display: flex;
    justify-content: start;
  }

  .playground_equipment-wrapper {
    max-width: 550px;
  }

  .playground_equipment-body-text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1000px) {

  .playground_equipment-show-left-wrapper{
    text-align: center;
    padding-top: 150px;
  }

  .playground_equipment-item-list {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
  }

  .playground_equipment-show-container {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  // スマホサイズは対象のdivを削除してスタイル調整
  .playground_equipment-body-text {
    display: contents;
  }

  .playground_equipment-wrapper {
    max-width: 300px;
  }

}

