//user_reviews
.user-reviews-container {
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
}

.user-reviews-wrapper {
  max-width: 1200px;
  min-height: 1000px;//fotterが上に上がるのを防ぐため
  margin: auto;
}

//index
.reviews-container{
  width: 100%;
  min-height: 1000px;
  padding-top: 150px;
  overflow: hidden;
}

.reviews-wrapper {
  max-width: 1200px;
  min-height: 1000px;//fotterが上に上がるのを防ぐため
  margin: auto;
}


.review-form-container {
  margin: auto;
  padding: 200px 20px 100px 20px;
  max-width: 1200px;
  width: 100%;
}

//_review
.review-container {
  display: flex;
  justify-content: center;
}

.review-wrapper {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* より柔らかい影 */
  border-radius: 10px;
  min-width:cc 300px;
  cursor: pointer;
	transition: all 0.3s ease 0s;
  padding: 15px;
}

.review-wrapper:hover {
  border-bottom-color: transparent;
	transform: translateY(-0.3em);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.review-form-wrapper {
  padding: 15px;
  border: solid #777;
  border-radius: 10px;
  
}

.review-show-container {
  padding: 150px 30px 100px 30px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.review-show-wrapper{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: #b0b0b0 solid;
  border-radius: 10px;
  min-width: 300px;
  padding: 20px;
  width: 100%;
}

.review-image {
  width: 100%;
  height: 150px;
}

.review-title {
  width: 100%;
  word-wrap: break-all;
  word-break: break-all;
}

.review-body{
  height: auto;
  width: 100%;
  word-wrap: break-all;
  word-break: break-all;
}

.review-delete {
  margin-left: 20px;
}

#star-rating {
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

#star-rating .fa-star {
  margin-right: 5px;
}

#star-rating .fas {
  color: gold;
}

#star-rating .far {
  color: lightgray;
}

.review-show-link-list{
  gap: 20px;
}


@media screen and (min-width: 751px){


  .review-btn-wrapper{
    display: flex;
    justify-content: end
  }

  .review-btns {
    display: contents;
  }

  .review-show-wrapper {
    min-width: 550px;
  }

  .review-wrapper {
    max-width: 550px;
    min-width: 550px;
  }

  .review-body {
    display: flex;
    justify-content: start;

  }
  .back-reviews-wrapper{
    margin-left: 15px;
  }

  .review-image {
    max-width: 250px;
  }

}

@media screen and (max-width: 750px){
  .reviews-container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .review-image {
    max-width: 200px;
  }

  .review-btn-wrapper{
    text-align: center;
    margin-top: 20px;
  }

  .review-btns {
    display: flex;
    justify-content: center;
  }

  .back-reviews-wrapper {
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  .back-reviews-btn{
    padding: 10px 20px 10px 20px;
    // background-color: #777;
    // color: #fff;
    border-radius: 10px;
  }

  .ms-3 {
    display: contents;
  }

  .review-wrapper {
    max-width: 300px;
    margin: auto;
    padding: 30px;
  }

  .review-show-wrapper {
    max-width: 300px;
  }

  .review-image-wrapper{
    text-align: center;
  }
}