.search-btn {
  width: 60px;
}

@media screen and ( min-width: 601px ) {

  .search-form {
    width: 410px;
    margin: auto;
  }

  .search-bar {
    width: 350px;
  }
}

@media screen and ( max-width: 600px ) {
  .search-form {
    width: 300px;
    margin: auto;
  }

  .search-bar {
    width: 240px;
  }
}
