.slider .slick-slide {
  width: 600px;
  height: 300px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
.slider .slick-slide div {
  text-align: center;
}

// .slider .slick-slide img {
//   display: block;
//   width: 100%;
//   height: auto;
//   align-items: center;
//   text-align: center;
// }

.slider .slick-slide video {
  width: 100%;
}

//jsで600px以下では矢印ボタンを非表示に調整しているためにここには無記載
.slider .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 130px;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.slider .slick-arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  transform: rotate(45deg);
}
.slider .slick-prev {
  top: 305px;
  right: 315px;
}
.slider .slick-next {
  top: 305px;
  left: 315px;
}
.slider .slick-next::before {
  bottom: 9px;
}
.slider .slick-prev::before {
  border-width: 0 0 3px 3px;
  bottom: 9px;
  left: 11px;
}
.slick-dots {
  text-align: center;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background: #0a467d;
}
//トップページのスライダー調整
.top-page .slick-arrow {}

@media screen and (min-width: 769px) {
  .top-page .slick-prev{
    right: 345px;

  } .top-page .slick-next {
    left: 345px;
  }
}

@media screen and (max-width: 768px) {
  .top-page .slick-prev{
    right: 195px;

  } .top-page .slick-next {
    left: 195px;
  }
}
