ul li {
  list-style: none;
}

/* トップタイトルの中央配置 */
.top-title {
  position: relative;
  z-index: 100; /* 背景の上に表示 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh; /* 画面の高さいっぱいに配置 */
  text-align: center;
}

.top-title h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow:
    2px 2px 0px rgb(135, 135, 135), /* 右下に黒の影 */
    -2px 2px 0px rgb(135, 135, 135), /* 左下に黒の影 */
    2px -2px 0px rgb(135, 135, 135), /* 右上に黒の影 */
    -2px -2px 0px rgb(135, 135, 135); /* 左上に黒の影 */
}

.top-button-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* ボタンのスタイル */
.facility-button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 30px;
  background-color: #bde7f9; /* パステルブルー */
  color: white;
  font-size: 1em;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ボタンの影 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* ホバーアニメーション */
}
.event-button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 30px;
  background-color: #f8e19b; /* パステルイエロー */
  color: white;
  font-size: 1em;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ボタンの影 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* ホバーアニメーション */
}

/* ボタンホバー時のアニメーション */
.facility-button:hover, .event-button:hover {
  transform: translateY(-5px); /* 少し浮かせる */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* 影を強調 */
  background-color: #f67280; /* ホバー時の色変化 */
}

/* ボタンのフォーカスやクリック時のアニメーション */
.facility-button:active, .event-button:active {
  transform: translateY(-2px); /* 少し戻す */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を元に戻す */
}

.image-container {
  padding-top: 450px;
  margin:auto;
  width: 100%;
  height: auto;
  position: relative; /* 子要素の位置を相対的に指定 */
  background-image: url('megu-hi-.JPG');
  background-position:top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  overflow: hidden; /* 子要素がはみ出さないようにする */
}

.random-image {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  transform-origin: center;
  z-index: 1; /* 背景画像と前後関係を制御 */
}

.help-list {
  margin-top: 200px;
  position: relative;
  z-index: 100;
  text-align: center;

}

.help-list-item {
  margin: auto;
  padding: 10px;
  background-color: #ebfff3;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.help-list-item:hover {
  background-color: #dcf9ff; /* ホバー時の色変化 */
}

.help-image-list{
  margin-top: 100px;
  padding: 0%;
  align-items: center;
  width: 100%;
  max-width: 768px;
  height: auto;
}

@media screen and (min-width: 769px) {
  .help-pc-none {
    display: none !important;
  }

  .help-list-item {
    width: 600px;
  }

  .help-pc-image-wrapper{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* スライダーの横幅を超える画像が表示されないようにする */
    padding: auto;
  }
  
  .help-pc-image{
    width: 100%;
    min-width: 250px;
    max-width: 500px; /* 横幅がスライダーの横幅を超えないようにする */
    max-height: 100%; /* 縦幅もスライダーの高さを超えないようにする */
    height: auto;
    border-radius: 10px;
    object-fit: contain; /* アスペクト比を保ちながら中央に配置 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 縦横中央に配置するためのトランスフォーム */
  }
}


@media screen and (max-width: 768px) {
  .help-sp-none {
    display: none !important;
  }

  .help-list-item {
    width: 300px;
  }

  .help-sp-image-wrapper{
    width: 100%;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* スライダーの横幅を超える画像が表示されないようにする */
    padding: auto;
  }
  
  .help-sp-image{
    max-width: 100%;/* 横幅がスライダーの横幅を超えないようにする */
    max-height: 100%; /* 縦幅もスライダーの高さを超えないようにする */
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* アスペクト比を保ちながら中央に配置 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 縦横中央に配置するためのトランスフォーム */
  }
}
