ul li {
  list-style: none;
}

.top-container {
  width: auto;
  height: 100vh;
  margin: auto;
  background-image: url('megu-hi-.JPG');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}


.sarch-menu-wrapper {
  margin-top: 30px;
}

.d-flex {
  // display: flex;
  justify-content: center;
}

.search-menu {
  margin-left: 30px;
}

.search-btn {
  color: #fff;
  background-color: #0ff;
  border-radius: 10%;
  border-color: #0ff;
  text-align: center;
  width: 100px;
  padding: 1rem, 3rem;
}

// .container-fluid {
//   margin-top: 10px;
// }

.article-wrapper {
  z-index: 2;
  margin-top: 30px;
}

.article-title {
  text-align: center;
  margin: auto;
  width: 200px;;
  padding: 30 20;
  background-color: aqua;
  border-radius: 10px;
}

.article-title-text {
  color: #fff;
  font-weight: bold;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1001px) { /* pc用スタイル */
  .top-container {
    max-width: 1200px;
    padding-top: 100px;
  }

}

@media screen and (max-width: 1000px) { /* タブレット用スタイル */
  .top-container {
    max-width: 1000px;
    padding-top: 200px;
  }

}
.map-wrapper {
  margin-top: 50px;
}

@media screen and (max-width: 600px) {/*sp用*/
  .dropdown {
    display: none;
  }
}
