<% content_for(:title, t('.title')) %>
<div class="reviews-container">
  <% if @reviews.any? %>
    <%= render partial: 'review', collection: @reviews %>
  <% else %>
    <p>レビューが見つかりませんでした。</p>
  <% end %>
  <div class="text-center mt-3">
    <%= link_to "施設詳細ページへ戻る", facility_path(@facility) %>
  </div>
  <%= paginate @reviews %>
</div>