<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= render 'form', review: @review %>
      <%= link_to "戻る", facility_path(@facility) %>
    </div>
  </div>
</div>