<% content_for(:title, t('.title')) %>
<%= render 'shared/flash_message' %>
<div class="review-form-container ps-3 pe-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= render 'form', review: @review %>
    </div>
  </div>
  <div class="text-center">
      <%= link_to "戻る", facility_path(@facility), class:"text-end" if @facility %>
  </div>
</div>